<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mhxy.fairy.mapper.ArticleMapper">
    
    <resultMap type="com.ruoyi.project.mhxy.fairy.bean.Article" id="ArticleResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
        <result property="author"    column="author"    />
        <result property="coverImage"    column="cover_image"    />
        <result property="content"    column="content"    />
        <result property="title"    column="title"    />
        <result property="clicks"    column="clicks"    />
        <result property="replyNumber"    column="reply_number"    />
        <result property="articleType"    column="article_type"    />
        <result property="articleName"    column="article_name"    />
        <result property="html"    column="html"    />
    </resultMap>

    <sql id="selectArticleVo">
        select id, create_time, update_time, version, author, cover_image, content, title, clicks, reply_number, article_type, article_name, html from article
    </sql>

    <select id="selectArticleList" parameterType="com.ruoyi.project.mhxy.fairy.bean.Article" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        <where>  
            <if test="version != null "> and version = #{version}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="coverImage != null  and coverImage != ''"> and cover_image = #{coverImage}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="clicks != null  and clicks != ''"> and clicks = #{clicks}</if>
            <if test="replyNumber != null "> and reply_number = #{replyNumber}</if>
            <if test="articleType != null  and articleType != ''"> and article_type = #{articleType}</if>
            <if test="articleName != null  and articleName != ''"> and article_name like concat('%', #{articleName}, '%')</if>
            <if test="html != null  and html != ''"> and html = #{html}</if>
        </where>
    </select>
    
    <select id="selectArticleById" parameterType="Long" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArticle" parameterType="com.ruoyi.project.mhxy.fairy.bean.Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="coverImage != null and coverImage != ''">cover_image,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="clicks != null and clicks != ''">clicks,</if>
            <if test="replyNumber != null">reply_number,</if>
            <if test="articleType != null and articleType != ''">article_type,</if>
            <if test="articleName != null and articleName != ''">article_name,</if>
            <if test="html != null">html,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="coverImage != null and coverImage != ''">#{coverImage},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="clicks != null and clicks != ''">#{clicks},</if>
            <if test="replyNumber != null">#{replyNumber},</if>
            <if test="articleType != null and articleType != ''">#{articleType},</if>
            <if test="articleName != null and articleName != ''">#{articleName},</if>
            <if test="html != null">#{html},</if>
         </trim>
    </insert>

    <update id="updateArticle" parameterType="com.ruoyi.project.mhxy.fairy.bean.Article">
        update article
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="coverImage != null and coverImage != ''">cover_image = #{coverImage},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="clicks != null and clicks != ''">clicks = #{clicks},</if>
            <if test="replyNumber != null">reply_number = #{replyNumber},</if>
            <if test="articleType != null and articleType != ''">article_type = #{articleType},</if>
            <if test="articleName != null and articleName != ''">article_name = #{articleName},</if>
            <if test="html != null">html = #{html},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="Long">
        delete from article where id = #{id}
    </delete>

    <delete id="deleteArticleByIds" parameterType="String">
        delete from article where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>